{% extends 'base.html' %}
{% load static %}


{% block title %}Chatroom Page{% endblock %}



{% block content %}

    <div class="container-fluid text-light" align="center">

        <h1>Public Chatroom Page</h1><br>
        <textarea id="chat-log" cols="80" rows="20"></textarea><br>
        <label for="chat-message-input">Type Message Here-->>> </label><br>
        <input id="chat-message-input" type="text" size="80"><br><br>
        <input id="chat-message-submit" type="button" class="btn btn-success" value="Send Message"><br>
        <script>
            {% if user.is_authenticated %}
            var username = {{username}};
            {% endif %}

            var chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/chatroom/'
            );

            chatSocket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                document.querySelector('#chat-log').value += (data.message +'---By---'+ data.username+ '\n');
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;

                chatSocket.send(JSON.stringify({
                    'username':username,
                    'message': message,
                }));
                messageInputDom.value = '';
            };
        </script>
    </div><br>

{% endblock %}